<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>今周讲习-第一期</title>
        <!--[if lte IE 8]><script>window.location.href='http://cdn.dmeng.net/upgrade-your-browser.html?referrer='+location.href;</script><![endif]-->
        <link rel="stylesheet" href="libs/reset.css" />
        <link rel="stylesheet" href="static/css/index.css" />
        <link rel="stylesheet" href="libs/video-js.css" />
    </head>
    <body>
        <!--头部-->
        <div class="head">
            <img src="static/img/top.png" alt="" />
        </div>

        <!--导航-->
        <ul class="nav clearfix inner">
            <li class="nav-ac"><a href="#1">
                    <p>讲习</p>
                </a></li>
            <li><a href="#2">
                    <p>资料</p>
                </a></li>
            <li><a href="#3">
                    <p>留声机</p>
                </a></li>
        </ul>
        <!--------------------主题切换页面---------------------->
        <div class="main inner">

            <div class="main-content ">

                <!--------------------讲习---------------------->
                <div id="1" class="jiangxi qiehuan">
                    <ul class="jiangxilist clearfix">
                        <li class="jiangxilist-ac">一周概览</li>
                        <li>专题研习</li>
                    </ul>
                    <ul class="jiangxi-content clearfix">
                        <li>
                            <div class="v-model"></div>
                            <div class="video01">
                                <video id="my_video_1" class="video-js vjs-default-skin showw " controls preload="auto"
                                    poster="static/img/gaisu.png" width="100%" height="100%" data-setup="{}">
                                    <source src="mp4/one01.mp4" type='video/mp4'>
                                </video>
                            </div>
                            <p>2019年4月14日至20日，习总书记有8次活动，分别是：到重庆的考察；主持召开解决“两不愁三保障”突出问题的座谈会；主持中共中央政治局会议，分析研究当前经济形势和经济工作，听取二〇一八年脱贫攻坚成效考核等情况汇报，审议《中国共产党宣传工作条例》；主持中共中央政治局第十四次集体学习；在《求是》杂志发表重要文章《一个国家、一个民族不能没有灵魂》；复信美国伊利诺伊州北奈尔斯高中学生；就法国巴黎圣母院发生火灾向法国总统马克龙致慰问电；同巴林国王哈马德互致贺电，热烈庆祝两国建交30周年。</p>
                        </li>
                        <li class="hide">
                            <div class="v-model"></div>
                            <div class="video01">
                                <video id="my_video_2" class="video-js vjs-default-skin showw " controls preload="auto"
                                    poster="static/img/zhuanti.png" width="100%" height="100%" data-setup="{}">
                                    <source src="mp4/one02.mp4" type='video/mp4'>
                                </video>
                            </div>
                            <p>2019年4月15日至17日，习总书记在重庆考察并主持召开解决“两不愁三保障”突出问题座谈会。习总书记会上发表重要讲话，强调统一思想一鼓作气顽强作战越战越勇，着力解决“两不愁三保障”突出问题。</p>
                        </li>
                    </ul>
                </div>

                <!--------------------资料---------------------->
                <div id="2" class="ziliao  qiehuan" style="width: 96%;">
                    <img src="img_pc/one_04.jpg" alt="" style="width: 100%; height: 100%;" />
                    <img src="img_pc/one_06.jpg" alt="" style="width: 100%; height: 100%;" />
                    <img src="img_pc/one_08.jpg" alt="" style="width: 100%; height: 100%;" />
                    <img src="img_pc/one_10.jpg" alt="" style="width: 100%; height: 100%;" />
                    <img src="img_pc/one_11.jpg" alt="" style="width: 100%; height: 100%;" />
                    <img src="img_pc/one_13.jpg" alt="" style="width: 100%; height: 100%;" />
                    <img src="img_pc/one_15.jpg" alt="" style="width: 100%; height: 100%;" />
                </div>

                <!--------------------留声机--------------------->
                <div id="3" class="liushengji  qiehuan">

                    <ul class="liushengji_list" style="height: 600px;">
                        <li class="voice01">
                            <img class="pic" src="img_pc/one-voice (01).jpg" alt="" />
                            <img class="voice " src="static/img/voice.png" alt="" />
                            <h2>习近平2019年4月15日在重庆考察</h2>
                            <audio id="audio1" class="voice_one b1 hide" src="mp3/one-voice01.mp3" controls="controls"
                                controlsList="nodownload"></audio>
                        </li>
                        <li class="voice02">
                            <img class="pic" src="img_pc/one-voice (02).jpg" alt="" />
                            <img class="voice " src="static/img/voice.png" alt="" />
                            <h2>习近平2019年4月15日至17日在重庆考察并主持召开解决“两不愁三保障”突出问题座谈会</h2>
                            <audio id="audio2" class="voice_one b2 hide" src="mp3/one-voice02.mp3" controls="controls"
                                controlsList="nodownload"></audio>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </body>
    <script type="text/javascript" src="libs/jquery-1.11.1.min.js"></script>
    <script src="libs/video.js"></script>
    <script src="libs/videojs.disableProgress.js"></script>
    <script>
        videojs.options.flash.swf = "libs/video-js.swf";
        videojs.options.flash.ttf = "libs/vjs.ttf";
        videojs.options.flash.woff = "libs/vjs.woff";
    </script>
    <script>
        // 交互
        $(function(){
        		var a1Top = $('.main-content').scrollTop();
        		var myPlayer01 = videojs('my_video_1');
        		var myPlayer02 = videojs('my_video_2');
        		
        		//------------------导航页面联动---------------
        		
        		$('.nav>li').click(function(){
        			var _index = $(this).index();
        	       
        			$(this).addClass('nav-ac').siblings().removeClass('nav-ac')
        			myPlayer01.pause()
        			myPlayer02.pause()
        			$('.b1')[0].pause();
        			$('.b2')[0].pause();
        		})
        		$('.jiangxilist>li').click(function(){
        			$(this).addClass('jiangxilist-ac').siblings().removeClass('jiangxilist-ac')
        			$('.jiangxi-content>li').eq($(this).index()).show().siblings().hide()
        			myPlayer01.pause()
        			myPlayer02.pause()
        		})
        		
        	$('.liushengji_list>li>h2').click(function(){
            	$(this).css('color','#e60012')
            	$(this).parent().find('.voice_one').removeClass('hide')
            	$(this).parent().siblings().find('.voice_one').addClass('hide')
            	$(this).parent().siblings().find('h2').css('color','#333333')
            })
        	
        	$('.voice01>h2').click(function(){
        		$('.b1')[0].play();
        		$('.b2')[0].pause();
        	})
        	$('.voice02>h2').click(function(){
        		$('.b1')[0].pause();
        		$('.b2')[0].play();
        	})
        	
        	//----main-content滚动条的位置
        	
        	var loading01 = false;//分页$(document).ready(function(){
        	var loading02 = false;//分页$(document).ready(function(){
        	var loading03 = false;//分页$(document).ready(function(){
            $('.main-content').scroll(function(){        
                if  ($('.main-content').scrollTop() < $('.jiangxi').height())
                {
                    loading01 = true;
                	$('.nav>li').eq(0).addClass('nav-ac').siblings().removeClass('nav-ac')
                }
            }); 
            $('.main-content').scroll(function(){
                if  ($('.main-content').scrollTop() > $('.jiangxi').height() && $('.main-content').scrollTop() < $('.ziliao').height() + $('.jiangxi').height())
                {
                    loading02 = true;
                	$('.nav>li').eq(1).addClass('nav-ac').siblings().removeClass('nav-ac')
                	myPlayer01.pause()
        			myPlayer02.pause()
                }
            }); 
            $('.main-content').scroll(function(){
                if  ($('.main-content').scrollTop() > $('.ziliao').height() + $('.jiangxi').height() )
                {
                    loading03 = true;
                	$('.nav>li').eq(2).addClass('nav-ac').siblings().removeClass('nav-ac')
                }
            });
            $('.main-content').scroll(function(){
                if  ($('.main-content').scrollTop() < $('.ziliao').height() + $('.jiangxi').height() )
                {
                    loading03 = true;
                	$('.b1')[0].pause();
                	$('.b2')[0].pause();
                }
            });
            
        })	
        
        // 数据
        $(function() {
            var dataVideo = [];
            var dataAudio = [];
            var oldDataVideo = [];
            var oldDataAudio = [];
        
            function onloand() {
                //定时传递数据到main.html
                setInterval(function() {
                    dataVideo = [];
                    $("video").each(function() {
                        var id = this.id;
                        var myPlay = videojs(id);
                        var bfb = parseInt(myPlay.currentTime() / myPlay.duration() * 100);
                        var sendOld = false;
                        if (oldDataVideo) {
                            for (var i = 0; i < oldDataVideo.length; i++) {
                                var name = oldDataVideo[i].name;
                                var oldbfb = oldDataVideo[i].bfb;
                                //发送老数据
                                if (id == name && bfb < oldbfb) {
                                    dataVideo.push(oldDataVideo[i]);
                                    sendOld = true;
                                    break;
                                }
                            }
                        }
                        if (!sendOld) {
                            var temp = {};
                            temp.name = id;
                            temp.bfb = bfb
                            dataVideo.push(temp);
                        }
        
                    })
        
                    // 音频
                    dataAudio = [];
                    $("audio").each(function() {
                        // console.log(this.id)
                        var id = this.id;
                        // var myPlay = videojs(this.id);
                        var bfb = parseInt(this.currentTime / this.duration * 100);
                        var aOld = false
                        if(oldDataAudio) {
                            for( var i=0; i < oldDataAudio.length; i++){
                                var name = oldDataAudio[i].name
                                var oldbfb = oldDataAudio[i].bfb
                                // 发送旧数据
                                if( id == name && bfb < oldbfb){
                                    dataAudio.push(oldDataAudio[i])
                                    aOld = true
                                    break
                                }
                            }
                        }
                        if(!aOld) {
                            var temp = {};
                            temp.name = id;
                            temp.bfb = bfb
                            dataAudio.push(temp);
                        }
                    })
                    // console.log(data);
                    window.parent.postMessage({
                        dataVideo: dataVideo,
                        dataAudio: dataAudio
                    }, '*');
                }, 1500)
            }
        
            window.onload = function() {
                //服务器传送过来的值,初始化音视频播放位置
                var reactiveFlag = false
                window.addEventListener('message', function(e) {
                    var canDrag = e.data.canDrag;
                    if (!reactiveFlag) {
                        // 视频
                        var data = e.data.dataVideo;
                        oldDataVideo = data;
                        if (data) {
                            $("video").each(function() {
                                var id = this.id;
                                var Play = videojs(id)
                                Play.on('firstplay', function() {
                                    var name = id;
                                    for (var i = 0; i < data.length; i++) {
                                        var temp = data[i];
                                        if (temp.name != name) continue;
                                        this.currentTime(this.duration() * (temp.bfb /
                                            100));
                                    }
                                });
        
                            })
                        }
        
                        // 音频
                        var dataAudio = e.data.dataAudio;
                        if (dataAudio) {
                            $("audio").each(function() {
                                var id = this.id;
                                var audioPlay = document.getElementById(id);
                                audioPlay.load();
                                audioPlay.onloadeddata = function() {
                                    var name = id;
                                    for (var i = 0; i < dataAudio.length; i++) {
                                        var temp = dataAudio[i];
                                        if (temp.name != name) continue;
                                        console.log(temp.bfb)
                                        this.currentTime = this.duration * (temp.bfb /
                                            100);
                                    }
                                }
                            })
                        }
                        console.log(dataVideo)
                        // 判断
                        if (canDrag == 0) {
                            onloand()
                            $("video").each(function() {
                                var id = this.id;
                                var Play = videojs(id)
                                Play.disableProgress({
                                    autoDisable: true
                                });
                            })
                        }
                    }
                    return reactiveFlag = true
                });
                $('.v-model').hide()
            }
        })
    </script>
</html>
